
body {
    background-color:#88afd6;
  }
  #myTable {
    background-color:#FFFFFF;
    border-collapse:collapse;
  }

  p.thick {
    font-weight: bold;
    letter-spacing: -2px;
  }

 h1{
     font-weight: 900px;
 }