body{
    background-color: lightslategray;
    color: white;
    margin: 10px 50px 20px;;
}

.contentinfo{
    top: 100px;
}

small {
    color: rgb(67, 83, 94);
    text-shadow: 1px, 1px, rgb(34, 136, 88);
}