.down {
    position: relative;
    top: 50px;
}

span {
    font-style: italic;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body{
    background-image: linear-gradient(rgba(140, 140, 248, 0.5), rgba(83, 101, 104, 0.5));
    color: cornsilk;
        display: grid;
        place-items: center;
        padding-top: 3em;
        height: 90vh;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
        line-height: 0.5em;
}

h1 {
    color: rgb(100, 160, 145);
}

h5 {
    color: thistle;
}

