#contentinfo p { 
    line-height: 20px;
    margin: 30px;
    padding-bottom: 20px; 
    text-align: justify;
    width: 140px;
    color: rgb(124, 134, 160); 
 }


 
 p {
    border: 2px solid rgb(57, 54, 61);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: pink;
}

.wiggle {
    display: inline-block;
    animation: wiggle 2s infinite;
}

.very {
    position: relative;
    text-align: justify;
    font-size: 2em;
    width: 2000px;
}