#contentinfo p { 
    border-width: 20px;
 }

 .leftdiv{
     float: left;
 }

.bordertop{
    border-top-left-radius: 10%;
}

h1 {
    padding-left: 650px;
    background-color: darkgray;
}

h2 {
  width:700px;
  background-color:rgb(87, 108, 133);
  padding-left: 450px;
}

h3 {
    padding-left: 650px;
    background-color: lightslategray;
}

h4 {
    padding-left: 450px;
    background-color: steelblue;
}

h5 {
    padding-left: 650px;
    background-color: silver;
}

h6 {
    padding-left: 450px;
    background-color: lightcyan;
}