.down {
    position: relative;
    top: 50px;
}

span {
    font-style: italic;
}

p{
    padding: 5%;
    margin-right: -25px;
}

body{
    background-color: black;
    color: cornsilk;
}

h1 {
    color: orangered;
}

h5 {
    color: thistle;
}