
body {
    background-color:#64586e;
    color: #FFFFFF;
  }

table, td, th {
    border: 1px solid rgb(104, 99, 99);
    background-color: rosybrown;
  }

#myTable {
  border-collapse: separate;
  border-spacing: 10px;
}

#myTable2 {
  border-collapse: separate;
  border-spacing: 10px;
}

#myTable3 {
  border-collapse: separate;
  border-spacing: 10px;
}